body {
  font-family: "Raleway", sans-serif;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
/* Hero Section */
.navbar{
  border-radius: 0 0 10px 10px;
  background-color: #518dc1;
  border: 1px solid #fff;
}

#Hero-Section {
  background: url(/fdsw-github/assets/img/polvo-estelar.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  border-radius: 30px;
  border:3px solid #d5d5d5
}
.card .image-top{
  border-radius: 30px 30px 10px 10px;
}

.trabajos-bg{
  background-color: #396992;
  border: 3px solid #373a3c;
}
.perfil img{
  border-radius: 50%;
  border: 3px solid #fff;
}
/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
